:root{
--Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
--Desaturated-Dark-Blue: hsl(214, 17%, 51%);
--Grayish-Blue: hsl(212, 23%, 69%);
--Light-Grayish-Blue: hsl(210, 46%, 95%);
}

body{
    background-color: var(--Light-Grayish-Blue);
}


.contenedor{
    width: 60%;
    display: flex;
    height: 300px;
    margin: auto;
    background-color: white;
    border-radius: 15px;
}

.img-caja{
    width: 50%;
    
}

img{
    width: 100%;
    height: 100%;
    border-radius: 15px 0 0 15px;
}

.descripcion{
    width: 50%;
    padding: 20px 40px;
}

.titulo{
    font-size: 20px;
    font-weight: 700;
}

.img-perfil{
    height: 40px;
    width: 40px;
    border-radius: 100%;
}


.icon-share{
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: var(--Light-Grayish-Blue);
    padding: 10px;
}

.icon-share:hover{
    cursor: pointer;
    /* background-color: var(--Grayish-Blue); */

}

.icon-share:focus{
    background-color: var(--Grayish-Blue);
    
}

.redes-sociales{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 15px 15px;
    padding: 0 20px;
}

.texto{
    color: var(--Desaturated-Dark-Blue);
}

.titulo{
    color: var(--Very-Dark-Grayish-Blue);
}


.fecha{
    color: var(--Grayish-Blue);
}

.attribution{
    margin-top: 20px;
}

@media screen and (max-width: 1080px) {
    .contenedor{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: auto;
        /* margin: 20px 0; */
       
    }

    .img-caja{
        width: 100%;
    }

    img{
        /* width: 100%;
        height: 100%; */
        border-radius: 15px 15px 0 0;
    }

    .descripcion{
        width: auto;
        padding: 30px 20px 0 20px;
    }
}